.flex-container {
    display: flex;
}

div {
    color: #18216D;
    font-family: 'Inter';
    font-style: normal;
}

.testimonial { 
    margin: 200px;
}

p {
    font-style: italic;
}

#circle {
    margin: 100px;
} 