/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
  /* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/inter-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}
  /* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/inter-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
  /* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.header__block1 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 114px;
    height: 32px;
    left: 100px;
    top: 35px;
}

.header__block2 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 507px;
    height: 20px;
    left: 324px;
    top: 41px;
    gap: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #18216D;
}

.header__block3 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 239px;
    height: 52px;
    left:950px;
    top: 25px;
    gap: 40px;
}

.header-link__signin {
    width: 58px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #18216D;
}

a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #141736;
    opacity: 0.9;
}

.header__button {
    width: 136px;
    height: 52px;
    background: #18216D;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

.circle {
    float: left;
    position: absolute;
    z-index: 1;
    background: url(/assets/images/Ellipse.png);
    width: 766px;
    height: 766px;
    z-index: 0;
}

/* PART 1*/
.main-parte1{
    display: flex;
    justify-self: center;
    margin: 50px;
}
.main-parte1__article1{
    display: flex;
    flex-direction: column;
    margin: 88px;
}
.main-parte1__article1-text1{
    display: block;
    width: 498px;
    height: 120px;
    justify-content:center;
    align-items:center;
    left: 215px;
    top: 222px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #18216D;
}
.main-parte1__article1-text2{
    display: block;
    width: 484px;
    height: 56px;
    justify-content:center;
    align-items:center;
    left: 215px;
    top: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #18216D;
}
.main-parte1__article1-button{
    width: 180px;
    height: 66px;
    align-items: flex-start;
    left: 215px;
    top: 448px;
    background: #00ECD0;
    border-radius: 6px;
    border-color:#00ECD0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #18216D;
    z-index: 1;
}
.main-parte1__article2{
    justify-self: start;
    width: 786px;
    height: 518.35px;
    left: 400px;
    top: 126.76px;
    position: absolute;
}
/* PART 2 */
.main-parte2{
    display: flex;
    justify-content: space-around;
    margin: 15px;  
}
.main-parte2__text{
    display: block;
    width: 494px;
    height: 150px;
    left: 215px;
    top: 767px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #18216D;
}
.main-parte2__downloads{
    width: 137px;
    height: 134px;
    left: 985px;
    top: 767px;
}
.main-parte2__rating{
    width: 107.28px;
    height: 134px;
    left: 1215px;
    top: 767px;
}
.main-parte2__collaboration-companies{
    display: flex;
    justify-content: space-around;
    padding: 92px;
}
.logo1{
    width: 112.12px;
    height: 34.88px;
    left: 245px;
    top: 966px;
}
.logo2{
    width: 104.65px;
    height: 29.9px;
    left: 436.85px;
    top: 968.49px;
}
.logo3{
    width: 104.65px;
    height: 34.88px;
    left: 621.23px;
    top: 966px;
}
.logo4{
    width: 151.99px;
    height: 32.39px;
    left: 805.61px;
    top: 967.25px;
}
.logo5{
    width: 138.28px;
    height: 32.39px;
    left: 1037.32px;
    top: 967.25px;
}
.logo6{
    width: 99.66px;
    height: 29.9px;
    left: 1255.34px;
    top: 968.49px;
}
/* PART 3 */
.main-parte3__Features{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Arial';
    font-style: 'Semi Bold';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #18216D ;
}
.main-parte3__Features-text{
    font-family: 'Arial';
    font-style: 'regular';
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #18216D;
    padding-bottom: 50px;
}
.main-parte3__labels{
    display: flex;
    justify-content: space-around; 
    font-family: 'Arial';
    color: #18216D;
    text-decoration: none;
    padding-bottom: 50px;
}
.main-parte3__labels_percent_title{
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
.main-parte3__labels_percent_text{
    
    opacity: 0.6;
    font-size: 16px;
    width: 300px;

}
.main-parte3__labels_round1_title{
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
.main-parte3__labels_round1_text{
    opacity: 0.6;
    font-size: 16px;
    width: 300px;
}
.main-parte3__labels_round2_title{
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
.main-parte3__labels_round2_text{
    opacity: 0.6;
    font-size: 16px;
    width: 300px;
}
/* PART 4 */
.main-parte4{
display: flex ;
justify-content: center;   
background-color:rgba(0, 95, 236, 0.05);;
padding: 50px;
}
.main-parte4__article{
    padding: 90px;
    display: block;
    align-content: center;
    font-style: 'regular';
    text-align: center;
    margin:auto ;
    font-family: 'Arial';
    color: #18216D;
    text-align: left;
}
.main-parte4__article-title{
    font-weight: 600;
    font-size: 24px;
}
.main-parte4__article-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-right: 90px;
}
.main-parte4__button{
    margin-top: 20px;
    width: 160px;
    height: 52px;
    left: 578px;
    top: 2905px;
    background: #005FEC;
    border-radius: 6px;
    border-color: #DAE9FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #FFFFFF;
}
.main-parte4__screen_vineo{
    
    justify-content: end;   

}
/* PART 5 */
.main-parte5{
    display: flex;
    padding: 60px;
}
.main-parte5__article{
    display: flex;
    margin: 80px;
    margin-right: 116px;
}
.main-parte5__article1-foto{
    width: 400px;
    height: 450px;
    left: 219px;
    top: 2443px;
    background: url(attractive-mixed-race-male-with-positive-smile-shows-white-teeth-keeps-hands-stomach-being-high-spirit-wears-white-shirt-rejoices-positive-moments-life-people-emotions-concept.jpg);
    border-radius: 20px;
}
.main-parte5__article2-metting{
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 184px;
    height: 150px;
    left: 460px;
    top:2590px;
    background: #FFFFFF;
    box-shadow: -4px 8px 20px rgba(24, 33, 109, 0.05);
    border-radius: 6px;
}
.main-parte5__button{
    margin: 20px;
    width: 100px;
    height: 30px;
    left: 578px;
    top: 2905px;
    background: #DAE9FF;
    border-radius: 4px; 
    border-color: #DAE9FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #005FEC;
}
.main-parte5__content{
    margin: 50px;
}
.main-parte5__text1{
    display: block;
    width: 496px;
    height: 96px;
    left: 815px;
    top: 2443px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #18216D;
}
.main-parte5__text2{
    display: block;
    width: 446px;
    height: 90px;
    left: 815px;
    top: 2555px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #18216D;
}
.paragraph{
    width: 19.97px;
    height: 19.97px;
    left: 815.02px;
    top: 2675px;
}
.roll{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #18216D;
}
.roll__paragraph1, .roll__paragraph2, .roll__paragraph3{
    margin-top: 20px;
}
.main-parte5__content-button{
    width: 164px;
    height: 54px;
    left: 815px;
    top: 2833px;
    margin-top: 25px;
    background: #005FEC;
    border-radius: 6px;
    border-color: #005FEC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
/* PART 6 */
.col-4 {
    border-radius: 10px;
    border: #232629;
}

.container {
    color: #18216D;
    font-family: 'Inter';
    font-style: normal;
}

.text-center {
    margin: 3rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('/assets/buttons.png') no-repeat;
    width: 272px;
    height: 60px;
}

.button {
    width: 135px;
    height: 48px;
    color: #18216D;
    border:#3d66a4;
    background-color: transparent;
}

.clicked {
    background: white;
    border-radius: 6px;
    color: #005FEC;
}

/* PART 7 */
.flex-container {
    display: flex;
    color: #18216D;
    font-family: 'Inter';
    font-style: normal;
    background: #FAFAFA;
}

.testimonial { 
    margin: 200px;
}

p {
    font-style: italic;
}

#circle {
    margin: 100px;
} 

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-bottom: 50px;
}

.footer__block1 {
    display: flex;
    height: 263px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #141736;
    opacity: 0.9;
    gap: 75px;
}

.footer__small-block {
    width: 248px;
    height: 52px;
    left: 215px;
    display: flex;
    flex-direction: column;
}

.footer__small-block1{
    width: 98px;
    height: 200px;
    left: 518px;
    display: flex;
    flex-direction: column;
}

.footer__small-block2{
    width: 117px;
    height: 200px;
    left: 715px;
    display: flex;
    flex-direction: column;
}

.footer__small-block3{
    width: 68px;
    height: 200px;
    left: 915px;
    display: flex;
    flex-direction: column;
}

.footer__small-block4{
    width: 300px;
    height: 120px;
    left: 1111px;
    display: flex;
    flex-direction: column;
}

.footer__block2 {
    width: 1100px;
    height: 0px;
    left: 215px;
    top: 4470px;
    opacity: 0.1;
    border: 1px solid #18216D;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #18216D;
}

.footer__block3 {
    width: 292px;
    height: 24px;
    left: 654px;
    top: 4500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18216D;
    opacity: 0.8;
}

.footer__small-block {
    display: grid;
}


@media screen and (max-width: 400px) {
    /* HEADER */
    .header {
        padding: 50px;
    }
    .header__block1 {
        display: flex;
        align-items: center;
        position: absolute;
        width: 70.4px;
        height: 20px;
        left: 16px;
        top: 54px;
    }
    .header__block2 {
        display: none;
    }
    .header__block3 {
        display: none;
    }
    .circle{
        width: 394px;
        height: 394px;
        left: -111px;
        top: -20px;
        background: #FF523D;
        opacity: 0.05;
        filter: blur(75px);
    }
    /* PART 1*/
    .main-parte1{
        display: flex;
        flex-direction: column;
        margin: 0px;
        margin-top: 30px;
    }
    .main-parte1__article1{
        align-content: center;
        width: 100%;
        margin: 0px;
    }
    .main-parte1__article1-text1{
        display: flex;
        margin-left: 55px;
        align-self: center;
        text-align: center;
        width: 291px;
        height: 54px;
        left: 42px;
        top: 115px;
        font-weight: 600;
        font-size: 28px;
        line-height: 27px;
    }
    .main-parte1__article1-text2{
        display: flex;
        width: 280px;
        height: 56px;
        left: 48px;
        top: 189px;
        margin: 20px;
        margin-left: 58px;
        align-self: center;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .main-parte1__article1-button{
        align-self: center;
        width: 120px;
        height: 40px;
        left: 128px;
        top: 278px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .main-parte1__article2{
        display: flex;
        position: static;
        width: 100%;
        height: 260px;
        margin-top: 20px;
       
    } 
    /* PART 2*/
    .main-parte2{
        flex-wrap: wrap;
        width: 100%;
        height: 280px;
        margin: 0px;
    }
    .main-parte2__content{
       width: 100%;
       height: 100px;
    }
    .main-parte2__text{
        display: flex;
        width: 80%;
        height: 115px;
        left: 24px;
        top: 718px;
        margin: 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .main-parte2__downloads{
        display: flex;
        justify-content: center;
        height: 70px;
        left: 96px;
        top: 830px;
    }
    .main-parte2__rating{
        display: flex;
        justify-content: center;
        height: 70px;
        left: 244px;
        top: 830px;
    }
    .main-parte2__collaboration-companies{
        width: 100%;
        height: 20px;
        left: 22px;
        top: 912px;
        padding: 0px;
        
    }
    .logo1{
        display: flex;
        width: 51.43px;
        height: 16px;
        left: 22px;
        top: 912px;
    }
    .logo2{
        display: flex;
        width: 48px;
        height: 13.71px;
        left: 110px;
        top: 913.14px;
    }
    .logo3{
        display: flex;
        width: 48px;
        height: 16px;
        left: 194.57px;
        top: 912px;
    }
    .logo4{
        display: flex;
        width: 69.71px;
        height: 14.86px;
        left: 279.14px;
        top: 912.57px;
    }
    .logo5, .logo6{
        display: none;
    }
    /* PART 3 */
    /* PART 5 */ 
    .main-parte5{
        display: none;
    }
    
}